h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.fz-70px {
  font-size: 70px;
}
.blue-bg {
  background-color: #7587eb;
}
.purple-bg {
  background-color: #6a4397;
}
.green-bg {
  background-color: #5a9e49;
}
.orange-bg {
  background-color: #c76d32;
}
.marine-blue-bg {
  background-color: #0b0b1a;
}
.custom-card-title-text {
  font-weight: bold;
  font-size: 14px;
}
.custom-card-text {
  font-size: 12px;
}
.min-h-190px {
  min-height: 190px;
}
.custom-button {
  min-width: 99px;
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  color: white;
}
